.typo {
    height: 600px;
    animation-name: bounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

.point {
    animation-name: point;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes bounce {
    30% {
        transform: translateY(50px)
    }

    70% {
        transform: scale(1.5) rotate(360deg);
    }
}

@keyframes point {
    10% {
        transform: translateY(-50px) scale (1.2);
        
    }
   
}